﻿@page "/thumbnail"
@model ThumbnailModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = "Thumbnail generation";
}

<div class="row text-center">
    <div class="col">
        <h1>Generate thumbnails of your files</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form id="thumbnailer-dropzone" action="/api/v1/thumbnail?responseType=base64" method="post"
            class="dropzone dz-clickable">
            <div class="dz-message d-flex flex-column">
                <i class="material-icons text-muted">cloud_upload</i>
                Drag &amp; Drop here or click to start generating file thumbnails.
            </div>
        </form>
    </div>
</div>

<form id="params" class="row">
    <div class="col">
        <div class="form-group">
            <label for="widthPx">Width (px)</label>
            <input type="number" class="form-control" id="widthPx" value="256" min="16" max="1024" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="heightPx">Height (px)</label>
            <input type="number" class="form-control" id="heightPx" value="256" min="16" max="1024" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="shavePx">Shave (px)</label>
            <input type="number" class="form-control" id="shavePx" value="0" min="0" max="64" />
        </div>
    </div>
    <div class="col-1">
        <div class="form-group" style="display: inline-grid;">
            <label for="fill">Fill</label>
            <input type="checkbox" checked data-toggle="toggle" id="fill" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group" style="display: inline-grid;">
            <label for="smartCrop">Smart crop</label>
            <input type="checkbox" data-toggle="toggle" id="smartCrop" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-6 offset-3 text-center">
        <form id="recaptcha-apikey-form" action="@Url.Page("RecaptchaToApiKey")" class="d-inline-flex">
            @Html.AntiForgeryToken()

            <button id="recaptcha-apikey-submit" type="submit" class="btn btn-primary btn-lg ml-1 g-recaptcha"
                data-sitekey="@RecaptchaSettings.Value.SiteKey" data-callback="onRecaptchaValidated">
                Generate!
            </button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2 text-center">
        <p>
            This site is protected by reCAPTCHA and the<br />Google
            <a href="https://policies.google.com/privacy" target="_blank" rel="noopener">Privacy Policy <span
                    class="slim-material-icon">open_in_new</span></a> and
            <a href="https://policies.google.com/terms" target="_blank" rel="noopener">Terms of Service <span
                    class="slim-material-icon">open_in_new</span></a> apply.
        </p>
    </div>
</div>

<div class="row text-left">
    <div class="col">
        <h2>What is thumbnail generation?</h2>
        <p>
            Thumbnail generation is about getting a representative (and small) image of a given file.
            For example, an image of the first page of a PDF file or a scaled-down version of an HD photo.
        </p>
        <p>
            Thumbnails can be used to implement file galleries on custom content management systems.
        </p>
    </div>
</div>

@section Scripts
{
<script>
    window.appData.operationType = "ThumbnailGeneration";

    // Auto save form data:
    $('#params').sisyphus();

    function disableRecaptchaApiKeySubmitButton() {
        $("#recaptcha-apikey-submit").attr("disabled", true);
    }

    function enableRecaptchaApiKeySubmitButton() {
        $("#recaptcha-apikey-submit").removeAttr("disabled");
    }

    function onRecaptchaLoaded() {
        disableRecaptchaApiKeySubmitButton();
    }

    function onRecaptchaValidated() {
        // Convert the reCAPTCHA token into a temporary API key.
        $.ajax({
            type: "POST",
            url: "@Url.Page("RecaptchaToApiKey")",
            data: $("#recaptcha-apikey-form").serialize(),
            success: function (apiKey) {
                if (apiKey.isValid) {
                    console.debug("Temporary API key is valid: %s", apiKey.value);
                    window.appData.apiKey = apiKey.value;

                    window.appData.outputZip = new JSZip();

                    console.debug("Processing queue using temporary API key");
                    window.appData.thumbnailerDropzone.processQueue();
                } else {
                    console.debug("Temporary API key is invalid");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });

        return false;
    };

    function updateThumbnailParams(key, value) {
        var action = new URL($("#thumbnailer-dropzone").prop("action"));
        action.searchParams.set(key, value);
        $("#thumbnailer-dropzone").prop("action", action);
    }

    $(function () {
        $("#widthPx").change(function () {
            updateThumbnailParams("widthPx", $(this).val());
        });
        $("#heightPx").change(function () {
            updateThumbnailParams("heightPx", $(this).val());
        });
        $("#shavePx").change(function () {
            updateThumbnailParams("shavePx", $(this).val());
        });
        $("#fill").change(function () {
            updateThumbnailParams("fill", $(this).prop("checked"));
        });
        $("#smartCrop").change(function () {
            updateThumbnailParams("smartCrop", $(this).prop("checked"));
        });

        // Set values after Sisyphus has restored inputs:
        updateThumbnailParams("widthPx", $("#widthPx").val());
        updateThumbnailParams("heightPx", $("#heightPx").val());
        updateThumbnailParams("shavePx", $("#shavePx").val());
        updateThumbnailParams("fill", $("#fill").prop("checked"));
        updateThumbnailParams("smartCrop", $("#smartCrop").prop("checked"));
    })
</script>
}